name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and push Docker images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set short SHA
        id: sha
        run: echo "short=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push app image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            matolado/crm:latest
            matolado/crm:${{ steps.sha.outputs.short }}
          cache-from: type=registry,ref=matolado/crm:buildcache
          cache-to:   type=registry,ref=matolado/crm:buildcache,mode=max

      - name: Build and push nginx image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.nginx
          push: true
          tags: |
            matolado/crm-nginx:latest
            matolado/crm-nginx:${{ steps.sha.outputs.short }}
          cache-from: type=registry,ref=matolado/crm-nginx:buildcache
          cache-to:   type=registry,ref=matolado/crm-nginx:buildcache,mode=max
